@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'MadinetAlBat';
  src: url('/fonts/alfont_com_MadinetAlBatv4.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
